<!-- <div class="all-items-details-cards">
    <mat-form-field appearance="fill">
      <mat-label>Select Items</mat-label>
      <mat-select>
        <mat-option value="wine">Wine</mat-option>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="bottom-card-all-details">
    <div class="bottom-card-details">
      <mat-card class="product-details-card" *ngFor="let i of detailsFoodArray">
        <div class="images-card">
          <img src="{{ i.productImage }}" class="image-resize" />
        </div>
        <div class="all-complete-details-card">
          <div>
            <div class="name">{{ i.productName }} </div>
            <div class="price">{{ i.productPrice | currency }}</div>
          </div>
          <br /><br />
          <div class="button-card">
            <button mat-button class="this-button-component">+</button>
            <button mat-button class="this-button-component">1</button>
            <button mat-button class="this-button-component">-</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div> -->