/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    height: 55px !important;
    border: 1.5px solid black !important;
    border-radius: 0;
    background-color: white;
    display: flex;
    padding-bottom: 10px;
    /* align-items: center; */
    justify-content: center;
}